/* My Custom CSS 
/* color hex codes 
#FDFBFF- off white
#3A2A66- dark purple
#C5B8FD- lavender
*/


@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
/*sans-serif*/


/* universal selector*/

* {
    box-sizing: border-box;
    box-sizing: inherit;
    list-style: none;
    font-family: kelvinch;

    }


/* Nav Styles*/
.nav{
    text-align: center;}


nav-container{
    display: flex;
    image-orientation: left; 
    text-align: left;
}
        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #FDFBFF;
    justify-content: center;
    text-align: center;

}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    width: 100%;
}

ul li a:hover {
  background-color: #FDFBFF;
    }

ol li a {
    display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    width: 100%;
}
      
p{ 
    text-align: left;
    padding left: 20px;
    margin-left: 25px;
}

/* Div for about winona*/

div. col{
    padding top: 15px;
    padding bottom: 15px;
    padding left: 20px;
    background-color: #FDFBFF;
    width: 100%
}


.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
padding left: 15px;
}

img {
    vertical-align: middle;
    border-radius: 6px;
    margin: auto;
    display: block;
   
  
}


div.img{
    
    
}
/* Link Styles*/

a:link, a:visited {
    color: #3A2A66;
}
a:focus, a:hover, a:active {
    color:#C5B8FD;
}


a{text-decoration: none;}

/* Header Styles*/

h1{font-family:kelvinch;}
h2{font-family:kelvinch;}
h3{font-family:kelvinch;}


body{
    background-color: #C5B8FD;
    padding-top: 25px;
    font-family: roboto;
    margin: auto;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    }

row{
    height:100%;
    width:100%;
}
class.row{
   
    padding-right: 15px;
    padding-bottom: 15px;/* affects the footer */
    height: 300px;
    width: 100%; 
    background color: #FDFBFF;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
    
.brand row{
    text-align: left;
    padding-top: 30px;
    padding left: 30px;
    height: auto;
}

.col{
    width: 100%;
    height: 100%;
    background color: #FDFBFF;
        height: auto;
    max-height: 100%;
    max-width: 100%
    }


form{
    background-color: #3A2A66;
    border: auto;
    font-size: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
}


.responsive-form {
    background-color: #3A2A66;
    padding-right: 15px;
    width: 100%;
    border-radius: 6px;
    background-color:#FDFBFF;
    padding: 20px;
    text-align: left;
    align-content: center;
    max-height: 100%;
    max-width: 100%;
}
 
.responsive-iframe {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    
}



div.responsive-iframe{
    height: 310px;
    border-radius: 6px;
    max-width: 100%;
    max-height: 100%;
}


label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #3A2A66;
  border-radius: 4px;
  padding: 10px;
}

textarea {
  min-width: 45%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #3A2A66;
  border-radius: 4px;
  padding: 10px;
    margin-left: 15px;
}

input[type=submit] {
  width: 20%;
  background-color:#C5B8FD;
  color: #3A2A66;
  padding: 14px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.gallery {
  border: 4px solid #C5B8FD;
    justify-content: center;
}

div.gallery:hover {
  border: none;
}

div.gallery img {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: left;
}


}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}

button{
    background-color: #3A2A66;
    color: #FDFBFF;
    border-radius:4px;
    border-color: #3A2A66;
    text-align: center;
    font: Kelvinch;
    font-size: 20px;
}

button hover{
    border: 4px solid #FDFBFF;
}

/* Footer Style*/

div.footer row{
   padding-right: 15px;
    padding-bottom: 15px;/* affects the footer */
    height: 300px;
    width: auto; 
}
div.YTTTlogo{
    align-content: left;
}

footer{
    background-color:#FDFBFF;
    width: 100%;
}

socials.img{
    justify-content: flex;
    image-orientation: middle;
    vertical-align: middle;
   margin-left: 40px;
}
.div footer{
    justify-content: center;
}
.footersocials{
    color: #3A2A66;
    background-color:#FDFBFF;
    text-align: center;
    image-orientation: center;
    font-size:15px; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding right: 45px;
    justify-content: flex;
    display: flex;
    float: center;
    vertical-align: middle;
}